@import "tailwindcss";

:root {
  --background: #0F0F0F;
  --foreground: #ededed;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family:"Martel Sans", sans-serif;
  background-image: url("/image/background-pattern.png");
  background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "TikTok Sans", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.5s all ease;
  display: inline-block;
}

.primary-btn{
  padding: 14px 30px;
  background: linear-gradient(90deg, #155DFC 0%, #53EDEF 100%);
  border-radius: 60px;
  color: #000;
  font-family: "TikTok Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}

.primary-outline-btn{
  padding: 8px 20px;
  background: transparent;
  border:1px solid #00C0FF;
  border-radius: 60px;
  color: #00C0FF;
  font-family: "TikTok Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
img{
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.font-tiktok {
  font-family: "TikTok Sans", sans-serif;
}

.font-martel {
  font-family: "Martel Sans", sans-serif;
}

.profile-btn {
  border: 2px solid #00C0FF;
  border-left: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px 0px 0px;
}
/* Navigation */
nav{
  transition: 0.5s all ease;
}

nav.sticky-nav{
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Dashboard Styles */
.title{
  position: relative;
}

.title:after{
  content: "";
  position: absolute;
  background: url("/image/title-line.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub-title{
  position: relative;
  padding-bottom:10px;
  font-weight: 500;
}

.sub-title:after{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom right;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
  min-width: 100px;
  height: 2px;
  background: linear-gradient(96.6deg, #155DFC 19.23%, #53EDEF 88.16%);
}
.main-banner{
  background: #0000007d;
}

.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 60px 0px;
  font-family: Arial, sans-serif;
}

.dashboard-card {
  background: #181818;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 10px 10px 0px rgb(0 0 0);
  max-width: 600px;
  width: 100%;
}

.credits-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}




.insufficient-credits {
  color: red;
  margin-top: 15px;
  font-weight: bold;
}


.results-title {
  margin-bottom: 15px;
  color: #dddddd;
  font-size:24px;
  text-align: left;
  font-weight: 700;
}

.media-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.media-item {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.media-heading {
  margin-bottom: 10px;
}

.generated-image {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.generated-video {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.download-button {
  padding: 14px 30px;
  background: linear-gradient(90deg, #155DFC 0%, #53EDEF 100%);
  border-radius: 60px;
  color: #000;
  font-family: "TikTok Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
 margin-top: 20px;
}

.json-fallback {
  background: #f6f6f6;
  padding: 15px;
  border-radius: 6px;
  overflow-x: auto;
  text-align: left;
}
@media  (max-width:767px) {
  .results-container {
    max-width:100%;
  }

}
.expression-image{
  max-width: 32%;
  height: auto;
 flex: 0 0 32%;
}
.caricature-image{
  max-width: 100%;
  height: auto;
  width: 100%;
}
@media  (max-width:767px) {
  .title:after{
    background-size:150px;
  }
}


/* Service */
.service-box{
  background: #00000066;
  border-radius: 10px;
  padding: 40px 30px;
  background: linear-gradient(180deg, #242424 0%, #144453 100%);
  max-width: calc(33% - 20px);
  flex: 0 0 calc(33% - 20px);
}

.service-box .service-title{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "TikTok Sans", sans-serif;
  color: #00C0FF;
}

.credit-box {
  background:#121212;
  background-image: url(/image/background-pattern.png);
  background-size: cover;
      background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.recent-work-box > img,
.recent-work-box > video{
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: center;
}

/* Apps */
.result-section{
  min-height: 80vh;
  background: #181818;
  box-shadow: 10px 10px 0px rgb(0 0 0);
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ringOne {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 100%;
  box-shadow: -5px -5px 15px rgba(15, 180, 231, 0.3);
}
.ringTwo {
  background: #161616; /* Old browsers */
  background: -moz-linear-gradient(top, #161616 0%, #3d3d3d 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #161616),
    color-stop(100%, #3d3d3d)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #161616 0%,
    #3d3d3d 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #161616 0%,
    #3d3d3d 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #161616 0%, #3d3d3d 100%); /* IE10+ */
  background: linear-gradient(to bottom, #161616 0%, #3d3d3d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */

  border: 1px solid #444;
  position: absolute;
  top: -25px;
  right: -25px;
  bottom: -25px;
  left: -25px;
  border-radius: 100%;
  z-index: -2;
}
.spin {
  margin: 0 auto;
  background: #91ffff; /* Old browsers */
  background: -moz-radial-gradient(
    20% 20%,
    ellipse cover,
    #91ffff 0%,
    #920a51 24%,
    #000000 74%,
    #000000 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    20% 20%,
    0px,
    20% 20%,
    100%,
    color-stop(0%, #91ffff),
    color-stop(24%, #0fb4e7),
    color-stop(74%, #000000),
    color-stop(100%, #000000)
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    20% 20%,
    ellipse cover,
    #91ffff 0%,
    #0fb4e7 24%,
    #000000 74%,
    #000000 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    20% 20%,
    ellipse cover,
    #91ffff 0%,
    #0fb4e7 24%,
    #000000 74%,
    #000000 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    20% 20%,
    ellipse cover,
    #91ffff 0%,
    #0fb4e7 24%,
    #000000 74%,
    #000000 100%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at 20% 20%,
    #91ffff 0%,
    #0fb4e7 24%,
    #000000 74%,
    #000000 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91ffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border-radius: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@-webkit-keyframes spinRotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinRotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinRotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation-name: spinRotation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinRotation;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: spinRotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ringTwo {
  -webkit-animation-name: spinRotation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinRotation;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: spinRotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ringThree {
  color: #fff;
  background-color: #ccc;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  border-radius: 100%;
  background: #575b60; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #575b60 1%,
    #000000 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(1%, #575b60),
    color-stop(100%, #000000)
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #575b60 1%,
    #000000 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #575b60 1%,
    #000000 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #575b60 1%,
    #000000 100%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    #575b60 1%,
    #000000 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575b60', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow:
    -1px 0px 0px #333,
    0px -1px 0px #333;
}
.core {
  color: #ccc;
  background-color: #ccc;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  border-radius: 100%;
  background: #575b60; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #575b60 1%,
    #000000 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(1%, #575b60),
    color-stop(100%, #000000)
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #575b60 1%,
    #000000 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #575b60 1%,
    #000000 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #575b60 1%,
    #000000 100%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    #575b60 1%,
    #000000 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575b60', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow:
    -1px 0px 0px #666,
    0px -1px 0px #666;
}
.core:active {
  color: #fff;
  background: #373a3d; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #373a3d 1%,
    #000000 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(1%, #373a3d),
    color-stop(100%, #000000)
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #373a3d 1%,
    #000000 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #373a3d 1%,
    #000000 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #373a3d 1%,
    #000000 100%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    #373a3d 1%,
    #000000 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373a3d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Button Container */
.orbital {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 40px auto;
  cursor: pointer;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out; 
}

.orbital:hover {
  transform: scale(1.1);
}

/* Outer Ring */
.ringOne {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 100%;
  box-shadow: -5px -5px 15px rgba(15, 180, 231, 0.3);
}

/* Middle Ring */
.ringTwo {
  border: 1px solid #444;
  position: absolute;
  top: -25px;
  right: -25px;
  bottom: -25px;
  left: -25px;
  border-radius: 100%;
  z-index: -2;
  background: linear-gradient(to bottom, #161616 0%, #3d3d3d 100%);
  animation: rotateClockwise 4s infinite linear; /* Rotate clockwise */
}

/* Core */
.core {
  color: #ccc;
  background-color: #ccc;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  border-radius: 100%;
  background: radial-gradient(ellipse at center, #575b60 1%, #000000 100%);
  box-shadow:
    -1px 0px 0px #666,
    0px -1px 0px #666;
  animation: pulse 2s infinite ease-in-out; /* Pulse animation */
}

.core:hover {
  background: radial-gradient(ellipse at center, #373a3d 1%, #000000 100%);
}

.core p {
  text-align: center;
  margin-top: 40%;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bolder;
  text-shadow: -1px -1px 0px #444;
}

/* Spin Animation */
.spin {
  background: radial-gradient(
    ellipse at 20% 20%,
    #91ffff 0%,
    #0fb4e7 24%,
    #000000 100%
  );
  border-radius: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: rotateAntiClockwise 6s infinite linear; /* Rotate anticlockwise */
}

/* Animations */

/* Rotate clockwise */
@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Rotate anticlockwise */
@keyframes rotateAntiClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Pulse animation for the core */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px #666;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px #0fb4e7;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px #666;
  }
}

.setting-image{
  padding: 30px;
}

.generating-work .setting-image{
  animation-name: spinRotation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.file-input-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* wrapper */
.file-input-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position:relative;
  margin-bottom: 30px;
}


/* hide default ugly browser button */
.file-input-wrapper input[type="file"]::-webkit-file-upload-button {
  display: none;
}
/* add small file icon before text */
.file-input-wrapper input[type="file"]{
    position: absolute;
    bottom: 0px;
    z-index: 99;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    pointer-events: none;
}

/* --- STYLE LABEL AS DASHED UPLOAD BOX --- */
.file-input-wrapper label{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  text-align: center;
  padding: 32px 14px 16px;
  border: 2px dashed #626262;
  border-radius: 10px;
  background: #000000;
  color: #00C0FF;;
  font-weight: 600;
  cursor: pointer;
  position:relative;
  transition: 0.5s all ease;
}

/* add icon AFTER label (your request) */
.file-input-wrapper label::after{
    content: "";
    background-image: url("/icon/upload.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 22px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 18px;
    width: 40px;
    height: 40px;
}

/* hover effect */
.file-input-wrapper label:hover{
  background: #181818;
}

.generating-work  .result-section {
      background-image: url("/image/LCPT.gif");
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: lighten;
}

.loading-page {
    padding: 30px;
    position: relative;
    width: 99vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
        background: #000000;
}